.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #90d8ff;
    max-width: 100% !important;
    width: 100%;
    height: 100%;
    max-height: 100% !important;
    justify-content: space-between;
}

.upcoming__weather{
    color: green;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    width: 75%;
    max-width: 100%;
}
ul { 
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    max-width: 80%;
    padding-right: 10%;
    padding-left: 10%;
    align-items:center ;
    }
li {    
    flex: 0 0 auto;
    color: black;
    align-self: center;
    text-align: center;
}
.new__Weather{
    width: 60px;
    height: 60px;
}