
.img__storm{
    padding-top: 1%;
    
}
.weather_header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.logo{
    width: 250px;
    height: 150px;
}
.weatherState{
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: bolder;
    text-align: center;
    font-family: "Raleway", sans-serif;
    margin-top: auto;

}

.temperature{
    font-size: 16px;
    font-weight: bolder;
    font-family: "Raleway", sans-serif;
    color: #030348;
}
.preHum{
    /* display: flex;
    flex-direction: row;
    align-content: space-between;
    align-items: center;
    justify-content: space-between;
    width: 15%;
    background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
   
}
.humidity{
    
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    color: #030348;;

}
.pressure{
    
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    font-weight: 900;
    color: #030348;;
}
.humValue{
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    color: #030348;
}
.pressValue{
    font-size: 14px;
    font-family: "Raleway", sans-serif;
    color: #030348;
}