
/*  Search bar */

.search__bar {
    align-self: flex-start;
    background-color:  #6c90aa;
    padding-top: 1%;
}
.inputCity{

    background-color: #6c90aa;
    height: 40px;
    font-size: 22px;
    font-family: "Raleway", sans-serif;
    outline: 0;
    border-width: 0 0 1px;
    border-color:  #6c90aa
}
.inputCity:focus {
    border-color: #486caa;
  }
.findWeather{
    background-color: #486caa;
    color: black;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    font-family: "Raleway", sans-serif;
    
    cursor: pointer;
    text-decoration: none;
}