
#root{
    height: 100vh;
    width: 100vw;
    min-height:100vh;
}
body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color:#90d8ff;
}
.app {
    height: 100vh;
    width: 100vw;
    background-color:#90d8ff;
    transition: opacity 0.6s linear 3s;

    
}
.mostlycloudy {
    
    filter: brightness(135%);
    animation: highlight 3s;
  }
  @keyframes highlight {
    0% { background: hsla(201, 100%, 78%, 0.6)}
    11% { background: hsla(201, 100%, 78%, 0.6)}
    22% { background: hsla(201, 100%, 78%, 0.3) }
    33% { background: hsla(201, 100%, 78%, 0.6)}
    44% { background: hsla(201, 100%, 78%, 0.6)}
    56% { background: hsla(201, 100%, 78%, 0.6)}
    67% { background: hsla(201, 100%, 78%, 0.7) }
    78%{ background: hsla(201, 100%, 78%, 0.6)}
    89% { background: hsla(201, 100%, 78%, 0.6)}
    100%{ background: hsla(201, 100%, 78%, 0.6)}
  }
.rain{
    filter: brightness(80%);
    animation: rain 3s;
}
@keyframes rain{

    0% { background: hsla(201, 100%, 78%, 0.5)}
    11% { background: hsla(201, 100%, 78%, 0.6)}
    22% { background: hsla(201, 100%, 78%, 0.3)}
    33% { background: hsla(201, 100%, 78%, 0.2)}
    44% { background: hsla(201, 100%, 78%, 0.1)}
    56% { background: hsla(201, 100%, 78%, 0.5)}
    67% { background: hsla(201, 100%, 78%, 0.4)}
    78%{ background: hsla(201, 100%, 78%, 0.3)}
    89% { background: hsla(201, 100%, 78%, 0.5)}
    100%{ background: hsla(201, 100%, 78%, 0.7)}
}

.snow{
    filter: brightness(50%);
    animation: snow 3s;
}
@keyframes snow{

    0% { background: hsla(201, 100%, 78%, 0.3)}
    11% { background: hsla(201, 100%, 78%, 0.5)}
    22% { background: hsla(201, 100%, 78%, 0.2)}
    33% { background: hsla(201, 100%, 78%, 0.1)}
    44% { background: hsla(201, 100%, 78%, 0.1)}
    56% { background: hsla(201, 100%, 78%, 0.3)}
    67% { background: hsla(201, 100%, 78%, 0.2)}
    78%{ background: hsla(201, 100%, 78%, 0.2)}
    89% { background: hsla(201, 100%, 78%, 0.3)}
    100%{ background: hsla(201, 100%, 78%, 0.4)}
}
.clear{
    filter: brightness(105%);
    animation: clear 3s;
}
@keyframes clear{

    0% { background: hsla(201, 100%, 78%, 0.9)}
    11% { background: hsla(201, 100%, 78%, 0.8)}
    22% { background: hsla(201, 100%, 78%, 0.7)}
    33% { background: hsla(201, 100%, 78%, 0.6)}
    44% { background: hsla(201, 100%, 78%, 0.5)}
    56% { background: hsla(201, 100%, 78%, 0.6)}
    67% { background: hsla(201, 100%, 78%, 0.7)}
    78%{ background: hsla(201, 100%, 78%, 0.8)}
    89% { background: hsla(201, 100%, 78%, 0.9)}
    100%{ background: hsla(201, 100%, 78%, 1)}
}


header{
    background-color:#6c90aa ;

}
.app__header,
.app__main {
    
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 20px; */
    font-family: "Raleway", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-bottom: 1%;
}




/* Current weather */


@media screen and (min-width:520px) and (max-width:600px){
    
.app__main {
    max-width:600px;
    width: 100%;
}
.container{
    max-width: 600px;
    width: 100%;
}
.preHum{
    width:50% ;
}
}
@media screen and (min-width:450px) and (max-width:520px){
    .app__main {
        max-width:520px;
        width: 100%;
    }
    .container{
        max-width: 520px;
        width: 100%;
    }
    .preHum{
        width:50% ;
    }
}
@media screen and (min-width:350px) and (max-width:450px){
    .app__main {
        max-width:450px;
        width: 100%;
    }
    .container{
        max-width: 450px;
        width: 100%;
    }
    .preHum{
        width:50% ;
    }
    .upcoming__weather{
        width: 90%;
        max-width: 450px;
    }
    .next__Weather{
        width: 90%;
        max-width: 450px;
    }
    .p{
        font-size: 8px;
    }
}